a {
  font-size: 10pt;
  color: red;
}

a:visited {
  color: gold;
}

a,
p {
  background-color: black;
}

p .a2 {
  font-weight: 900;
  font-size: 40pt;
}

input {
  width: 300px;
  height: 80px;
  font-size: 40px;
  border-color: pink;
  border-width: 10px;
  border-radius: 30px;
}

input:focus {
  background-color: antiquewhite;
  outline-color: red;
  width: 350px;
  height: 90px;
}
